<!DOCTYPE html>
<html>
<head>
  <title>Twifty</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "https://raw.github.com/ryanb/nifty-generators/master/rails_generators/nifty_layout/templates/stylesheet.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
